






.addItemForm{
  left: 200px;
  display: table;
  border-collapse: collapse;
}



.addItemForm td{
  padding: 0px 10px;
}

.head-row td{
  background-color: #5f7e8d;
  width: 100px;

}
.custom-row td{
  height: 25px;
}

.custom-row td input {
  width: 100px;
  box-sizing: border-box;
}





