.table {
  border: 2px solid;
  background-color: #e0e9ff;
  width: 80vw;
}

.navTable {
  box-sizing: border-box;
  height: 10%;
  border: 2px solid yellow;
  border-radius: 4px;
}

.itemsContainer {
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid green;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  margin-bottom: 15px;
}

.item > div {
  width: 150px;
}




