.form {
  display: flex;
  flex-direction: column;
  background-color: #ffec7fb5;
  width: 350px;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 2px -2px 5px #be7f20;
}

a {
  text-decoration: none;
}