.navItem {
  padding: 5px 10px;

  a {
    color: white;
    text-decoration: none;
  }
}

.navBlock {
  background-color: rgba(1, 13, 41, 0.87)
}

.nav-wrapper {
  height: 50px;
  width: 900px;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.image-block {
  margin-right: 50px;
  display: flex;
  align-items: center;
}